<div class="comment"> 
    <div class="comm" id="comm">载入评论ing...</div>
    <form action="javascript:void(0);" id="comminput" name="comminput">
        <div class="userinfo">
            <label for="author">昵称*</label>
            <input type="text" name="author" id="author" value=''/><br>
            <label for="link">网站*</label>
            <input type="text" name="link" id="link"/><br>
            <label for="email">邮箱*</label>
            <input type="text" name="email" id="email"/><br>
        </div>
        <label for="commcon">评论：</label>
        <textarea name="commcon" id="commcon"></textarea><br>
        <input type="submit" id="pushcomm" class="pushcomm" value="提交评论"/><br>
    </form>
</div>
