<div class="comment"> 
    <div class="comm" id="comm">loading...</div>
    <form action="javascript:void(0);" id="comminput" name="comminput">
        <div class="userinfo">
            <label for="author">Name<font color="red">*</font></label><br>
            <input type="text" name="author" id="author" value=''/><br>
            <label for="link">Website<font color="red">*</font></label><br>
            <input type="text" name="link" id="link"/><br>
            <label for="email">Email<font color="red">*</font></label><br>
            <input type="text" name="email" id="email"/><br>
        </div>
        <label for="commcon">Comment</label><br>
        <textarea name="commcon" id="commcon"></textarea><br>
        <input type="submit" id="pushcomm" class="pushcomm" value="提交评论"/><br>
    </form>
</div>
