<div class="me">
   <script>
   var tags =[
        "动漫",
        "伪技术",
        "无趣",
        "笑点低",
        "AFK",
        "linux",
        "KDE",
        "洗发水",
        "vim",
        "Python",
        "90后",
        "开源",
        "SA",
        "好人",
        "酱油",
        "IQ/EQ低",
        "雄性"
        ]
   function randomColor() {  
       var rand = "#"+Math.floor(Math.random()*Math.pow(2,24)).toString(16);  
       if(rand.length == 7){  
           return rand;  
       }else{  
           return randomColor();  
       }
   }
   function randomsize() {
      var size = Math.floor(Math.random()*11);
      return size;
   }
   for(tag in tags)
   {
       if(tag!=tags.length-1)
       {
           document.write("<font size="+randomsize()+" color="+randomColor()+">"+tags[tag]+"</font>")
       }
   }
   </script>
</div>
