<div class="content">
    <ul id="posts" class="posts">
        {% for post in paginator.posts %}
            <li>
                <h2 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
                {{ post.summary }}
            </li>
        {% endfor %}
    </ul>
    <noscript>
    <nav class="page">
    {% if paginator.total_pages > 1 %}
        {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
                {{ page }}
            {% else %}
                <a href="/{%if page > 1 %}page{{ page }}/{% endif %}">{{ page }}</a>
            {% endif %}
        {% endfor %}
    {% endif %}
    </nav>
    </noscript>
    <input id="prev" type="image" src="images/top.png"/>
    <input id="next" type="image" src="images/down.png"/>
</div>
