#smlebaobao {
    font-size: 12px;
    height: 160px;
    left: 800px;
    opacity: 0.85;
    position: fixed;
    top: 400px;
    width: 160px;
}
* html #smlebaobao {
    position: absolute;
}
#lebaobaoface {
    background-repeat: no-repeat;
    height: 160px;
    left: 0;
    position: absolute;
    top: 0;
    width: 160px;
}
#showlebaobaomenu {
    display: none;
    float: left;
    overflow: hidden;
    text-align: left;
    width: 100%;
}
#tempsaying ul {
    cursor: pointer;
    float: left;
    line-height: 16px;
    margin: 1px 0 0;
    overflow: hidden;
    padding: 0 0 0 5px;
    width: 100%;
}
.wcc_mlist {
    cursor: pointer;
    float: left;
    line-height: 16px;
    margin: 0;
    overflow: hidden;
    padding: 0 0 4px;
    text-align: center;
    width: 47%;
}
#tempsaying ul {
    width: 96%;
}
#calllebaobao {
    background-image: url("../images/call.png");
    cursor: pointer;
    display: none;
    font-size: 12px;
    line-height: 40px;
    position: fixed;
    width: 50px;
}
* html #calllebaobao {
    position: absolute;
}
#dialog_chat {
    left: -205px;
    line-height: 23px;
    position: absolute;
    text-align: left;
    top: 0;
    width: 200px;
}
#dialog_chat_loading {
    background: url("../images/loading.gif") no-repeat scroll center center transparent;
    display: none;
    height: 30px;
    width: 202px;
}
#chat_top {
    background: url("../images/chat_top.gif") no-repeat scroll 0 0 transparent;
    float: left;
    height: 5px;
    overflow: hidden;
    width: 202px;
}
#dialog_chat_contents, #lebaobaosaying, #getmenu, #tempsaying {
    background-color: #E9F6FE;
    float: left;
    line-height: 23px;
    margin: 0;
    padding-left: 0;
    width: 198px;
}
#getmenu, #tempsaying, #lebaobaosaying {
    padding: 0 0 0 2px;
    width: 196px;
}
#dialog_chat_contents {
    border-left: 2px solid #02A9EC;
    border-right: 2px solid #02A9EC;
    width: 198px;
}
#chat_bottom {
    background: url("../images/chat_bottom.gif") no-repeat scroll 0 0 transparent;
    float: left;
    height: 10px;
    width: 202px;
}
#chat_top, #chat_bottom {
}
#tempsaying, #hiddenfaces {
    display: none;
}
#getmenu {
    background: url("../images/menu.jpg") no-repeat scroll right top transparent;
    cursor: pointer;
    height: 16px;
    margin: 0;
    padding: 0;
    width: 95%;
}
#addinput {
    background-color: #FFFFFF;
    border: 1px solid #888888;
    display: none;
    height: 20px;
    left: -260px;
    overflow: hidden;
    padding-top: 2px;
    position: absolute;
    top: 150px;
    width: 240px;
}
#inp_l {
    float: left;
    height: 20px;
    width: 220px;
}
#inp_r {
    cursor: pointer;
    float: right;
    font-size: 12px;
    height: 20px;
    text-align: center;
    width: 20px;
}
#talk {
    border: medium none;
    float: left;
    height: 16px;
    width: 180px;
}
#talkto {
    background: url("../images/ok.jpg") repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    float: left;
    height: 16px;
    width: 30px;
}

