[name=content] {
}
.eachcomm {
    border: 3px solid white;
    margin-top: 5px;
    padding: 5px;
}
.eachcomm a:visited {
    color: black;
}
.echcomm a:hover {
}
.eachcomm img{
    height: 60px;
    width: 60px;
    float: left;
    margin: 5px;
}
#comminput {
    padding-top: 10px;
    font-size: 100%;
}
#commcon,#email,#link,#author{
    border: 2px solid white;
    background: rgba(255,255,255,0.5);
}
.pushcomm {
}
