.clear {
  clear: both;
}

img {
  border: 0;
}

body {
  line-height: 130%;
  font-size: 100%;
  color: #222;
  background: #fff;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

a:hover, a:active, #sidebar a:active, #sidebar a:hover, #content a {
  color: #b40 !important;
}
#site {
  width: 850px;
  margin: auto;
}

#subscribe {
  float: right;
  margin: 20px;
}

h1 {
  margin: 0;
  padding: 20px;
}

h1 a, h1 a:link, h1 a:visited {
  text-decoration: none;
  color: #222;
}

#slogan {
  margin: 15px;
}

#sidebar {
  width: 160px;
  padding: 10px 20px 20px 20px;
  border-left: 5px solid #eee;
  float: right;
}
#sidebar a, #sidebar a:link #sidebar a:visited {
  color: #222;
}
#sidebar dl, #sidebar ul {
  margin: 0 0 30px 0;
  padding: 0;
}
#sidebar dl#contact dt {
  display: none;
}
#sidebar dl#contact dd {
  margin: 0;
}
#sidebar ul {
  list-style-type: none;
}
#sidebar a {
  text-decoration: none;
}
#sidebar .adr, #sidebar .tel {
  display: none;
}

#content {
  width: 600px;
  padding: 0 20px 20px 20px;
}
#content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#content li {
  margin-bottom: 10px;
}

h3 {
  margin: 0 0 10px 0;
  padding: 0;
}

.highlight pre {
  background: #eee;
  border: 1px solid #ccc;
  padding: 15px;
}

.update {
  border: 1px solid #fc6;
  background: #fe8;
  padding: 15px;
  text-align: center;
}
#post {
  margin-bottom: 30px;
}

#disqus_thread {
  margin-bottom: 130px;
}

#related {
  margin-bottom: 30px;
}

.posts p {
  margin: 5px 0 25px 0;
}

.rss_only {
  display: none;
}


#basic-accordian{ 
width:20%; 
z-index:2; 
margin-top: 2%; 
border-top-style: solid; 
border-top-color: #999999; 
border-bottom-style: solid; 
border-bottom-color: #666666; 
padding-top: 15px; 
padding-bottom: 15px; 
margin-bottom: 2%; 
}/*菜单背景*/ 
.accordion_headings{ 
padding:2px; 
color:#FFFFFF; 
cursor:pointer; 
font-weight:bold; 
font-size: 14px; 
line-height: 25px; 
letter-spacing: 1px; 
}/*菜单分类行*/ 
.accordion_headings:hover{ 
} 
.accordion_child{ 
padding-left: 20px; 
padding-bottom: 8px; 
} 
.accordion_child ul{} 
.accordion_child ul li{ 
font-size: 12px; 
display: block; 
line-height: 20px; 
display:block; 
} 
.accordion_child ul li a{ 
text-decoration: none; 
color: #666666; 
} 
.accordion_child ul li a:hover{ 
color: #FFFFFF; 
} 
.header_highlight{ 
background-color: #000000; 
color: #FF0099; 
}/*当前显示菜单分类样式*/ 
/*菜单样式结束*/ 
.main { 
margin-top: 2%; 
width: 96%; 
margin-right: auto; 
margin-left: auto; 
} 
/*特殊样式-------------------------*/ 


