.clear {
    clear: both;
}
img {
    border: 0 none;
}
body {
    background: url("/images/background.png") repeat scroll 0 0 #FFA540;
    color: #222222;
    font-family: Microsoft YaHei;
    font-size: 100%;
    line-height: 130%;
    text-decoration: none;
}
a:hover, a:active, #sidebar a:active, #sidebar a:hover, #content a {
    color: #BB4400;
}
#site {
    margin: auto;
    width: 850px;
}
#subscribe {
    float: right;
    margin: 20px;
}
h1 {
    color: white;
    font-size: 35px;
    margin: 0;
    padding: 100px 20px 20px;
}
h1 a, h1 a:link, h1 a:visited h1 {
    color: #FFF5EA;
}
h1 a:hover {
    color: #FFEBD4;
}
.title {
    -moz-transition: all 0.3s ease-out 0s;
    display: block;
    height: 35px;
    width: 200px;
}
.title:hover {
    -moz-transform: rotate(15deg);
    -moz-transition: all 0.3s ease-out 0s;
}
#slogan {
    margin: 15px;
}
#sidebar {
    float: right;
    padding: 10px 20px 20px;
    width: 160px;
}
#sidebar a, #sidebar a:link #sidebar a:visited {
    color: #222222;
}
#sidebar dl, #sidebar ul {
    margin: 0 0 30px;
    padding: 0;
}
#sidebar dl#contact dt {
    display: none;
}
#sidebar dl#contact dd {
    margin: 0;
}
#sidebar ul {
    list-style-type: none;
}
#sidebar a {
    text-decoration: none;
}
#sidebar .adr, #sidebar .tel {
    display: none;
}
#content {
    -moz-transition: all 0.2s ease-out 0s;
    background: url("/images/background2.png") repeat scroll 0 0 #FFEAD2;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 10px #FFC686;
    padding: 15px;
    width: 600px;
}
#content ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#content li {
    margin-bottom: 10px;
}
h3 {
    margin: 0 0 10px;
    padding: 0;
}
.highlight pre {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #CCCCCC;
    padding: 15px;
}
.update {
    background: none repeat scroll 0 0 #FFEE88;
    border: 1px solid #FFCC66;
    padding: 15px;
    text-align: center;
}
#post {
    margin-bottom: 30px;
}
#disqus_thread {
    margin-bottom: 130px;
}
#related {
    margin-bottom: 30px;
}
.posts p {
    margin: 5px 0 25px;
}
.rss_only {
    display: none;
}
footer {
    color: #A65800;
    font-size: 80%;
    margin-top: 2em;
    overflow: hidden;
    text-align: center;
}
footer a, a:visited {
    color: #FFF5EA;
}
footer a:hover {
    color: #FDD8B0;
}
.navigation {
    font-size: 14px;
    text-align: center;
}
#basic-accordian {
    margin-bottom: 2%;
    margin-top: 2%;
    padding-bottom: 15px;
    padding-top: 15px;
    width: auto;
    z-index: 2;
}
.accordion_headings {
    color: #A65800;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 25px;
    padding: 2px;
}
.accordion_headings:hover {
    padding-left: 25px;
}
.accordion_child {
    padding-left: 25px;
}
.accordion_child ul {
    list-style-type: none;
}
.accordion_child ul li {
    display: block;
    font-size: 12px;
    line-height: 20px;
}
.accordion_child ul li a {
    color: #666666;
    text-decoration: none;
}
.accordion_child ul li a:hover {
    color: #FFFFFF;
}
.header_highlight {
    background-color: #FFCC99;
    border-radius: 5px 5px 5px 5px;
    color: #BF7C30;
}
.main {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    width: auto;
}
a {
    -moz-transition: all 0.2s ease-out 0s;
    text-decoration: none;
}
.to_top {
    bottom: 50px;
    height: 59px;
    position: fixed;
    right: 40px;
    width: 20px;
}

