.clear {
  clear: both;
}

img {
  border: 0;
}

body {
  line-height: 130%;
  font-size: 100%;
  color: #222;
  background: url(/images/background.gif);
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

a:hover, a:active, #sidebar a:active, #sidebar a:hover, #content a {
  color: #b40 !important;
}
#site {
  width: 850px;
  margin: auto;
}

#subscribe {
  float: right;
  margin: 20px;
}

h1 {
  margin: 0;
  padding: 20px;
}

h1 a, h1 a:link, h1 a:visited {
  text-decoration: none;
  color: #222;
}

#slogan {
  margin: 15px;
}

#sidebar {
  width: 160px;
  padding: 10px 20px 20px 20px;
  float: right;
}
#sidebar a, #sidebar a:link #sidebar a:visited {
  color: #222;
}
#sidebar dl, #sidebar ul {
  margin: 0 0 30px 0;
  padding: 0;
}
#sidebar dl#contact dt {
  display: none;
}
#sidebar dl#contact dd {
  margin: 0;
}
#sidebar ul {
  list-style-type: none;
}
#sidebar a {
  text-decoration: none;
}
#sidebar .adr, #sidebar .tel {
  display: none;
}

#content {
  width: 600px;
  padding: 0 20px 20px 20px;
}
#content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#content li {
  margin-bottom: 10px;
}

h3 {
  margin: 0 0 10px 0;
  padding: 0;
}

.highlight pre {
  background: #eee;
  border: 1px solid #ccc;
  padding: 15px;
}

.update {
  border: 1px solid #fc6;
  background: #fe8;
  padding: 15px;
  text-align: center;
}
#post {
  margin-bottom: 30px;
}

#disqus_thread {
  margin-bottom: 130px;
}

#related {
  margin-bottom: 30px;
}

.posts p {
  margin: 5px 0 25px 0;
}

.rss_only {
  display: none;
}


#basic-accordian{ 
width:auto; 
z-index:2; 
margin-top: 2%; 
padding-top: 15px; 
padding-bottom: 15px; 
margin-bottom: 2%; 
}/*菜单背景*/ 
.accordion_headings{ 
padding:2px; 
color:#9F35FF; 
cursor:pointer; 
font-weight:bold; 
font-size: 14px; 
line-height: 25px; 
letter-spacing: 1px; 
}/*菜单分类行*/ 
.accordion_headings:hover{ 
} 
.accordion_child{ 
padding-left: auto; 
padding-bottom: 8px; 
} 
.accordion_child ul{} 
.accordion_child ul li{ 
font-size: 12px; 
display: block; 
line-height: 20px; 
display:block; 
} 
.accordion_child ul li a{ 
text-decoration: none; 
color: #666666; 
} 
.accordion_child ul li a:hover{ 
color: #FFFFFF; 
} 
.header_highlight{ 
background-color: #E6CAFF; 
color: #FF0099; 
}/*当前显示菜单分类样式*/ 
.main { 
margin-top: 2%; 
width: auto; 
margin-right: auto; 
margin-left: auto; 
} 
/*特殊样式----*/ 

/*蝴蝶部分*/
.content {position: relative;}
.butterfly {
pointer-events: none;
width: 980px;
height: 200px;
margin: 0 auto;
overflow: hidden;
position: absolute;
z-index: 999;
top: 206px;
}
.butter1, .butter2, .butter3 {
    position: relative;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    display: none\9; *display: none;
}
.butter1 { -webkit-animation-name: butter1; -webkit-animation-duration: 30s; -webkit-transform: rotateZ(-30deg); }
.butter2 { -webkit-animation-name: butter2; -webkit-animation-duration: 40s; -webkit-transform: rotateZ(-30deg); }
.butter3 { -webkit-animation-name: butter3; -webkit-animation-duration: 50s; -webkit-transform: rotateZ(30deg); }
.butterfly1, .butterfly2, .butterfly3 {
    position: absolute;
    -webkit-animation-name: x-spin;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-linear;
}
.butterfly1 { height: 36px; left: 40px; bottom: 60px; -webkit-animation-duration: 0.4s; }
.butterfly2 { height: 40px; left: 80px; bottom: 10px; -webkit-animation-duration: 0.4s; }
.butterfly3 { height: 40px; right: 60px; bottom: 10px; -webkit-animation-duration: 0.32s; }

@-webkit-keyframes x-spin {
    0%        { -webkit-transform: rotateX(0deg); }
    20%        { -webkit-transform: rotateX(80deg); }
    40%        { -webkit-transform: rotateX(130deg); }
    50%        { -webkit-transform: rotateX(180deg); }
    60%        { -webkit-transform: rotateX(210deg); }
    80%        { -webkit-transform: rotateX(270deg); }
    100%    { -webkit-transform: rotateX(360deg); }
}
@-webkit-keyframes butter1 {
    0%        { opacity: 0; }
    10%        { left: 160px; bottom: 80px; opacity: 1; }
    20%        { left: 240px; bottom: 45px; }
    30%        { left: 400px; bottom: 15px; }
    60%        { left: 720px; bottom: -5px; }
    70%        { left: 800px; bottom: 30px; }
    80%        { left: 840px; bottom: 0px; opacity: 0.6; }
    100%    { left: 900px; bottom: 40px; opacity: 0; }
}
@-webkit-keyframes butter2 {
    0%        { opacity: 0; }
    10%        { left: 120px; bottom: 40px; opacity: 1; }
    40%        { left: 180px; bottom: 20px; }
    50%        { left: 360px; bottom: 0px; }
    60%        { left: 600px; bottom: -10px; }
    80%        { left: 640px; bottom: 20px; opacity: 0.6; }
    100%    { left: 860px; bottom: 30px; opacity: 0; }
}
@-webkit-keyframes butter3 {
    0%        { opacity: 0; }
    10%        { right: 160px; bottom: 30px; opacity: 1; }
    20%        { right: 200px; bottom: 10px; }
    40%        { right: 400px; bottom: 0px; }
    60%        { right: 620px; bottom: -10px; }
    70%        { right: 700px; bottom: 10px; opacity: 0.6; }
    100%    { right: 840px; bottom: 60px; opacity: 0; }
}

