.aside {
    float: left;
    text-align: center;
}
/*-----------content-----------*/
.title {
    width: 300px;
}
.title a:hover {
    color: blue;
}
.content {
    margin-left: 50px;
    float: left;
    width: 600px;
    padding: 20px;
}
.page {
    text-align: center;
}
.posts {
    background: rgba(255,255,255,0.5);
    box-shadow: 0 0 10px #000000;
    border-radius: 20px;
    float: left;
    width: 500px;
    margin: 0 auto;
    padding: 10px;
}
#prev {
}
#next {
    margin: 20px 0;
}
.updown {
    margin-top: 200px;
    float: left;
    width: 70px;
}
.button{
  width: 50px;
  height: 24px;
  padding: 5px 16px 3px;
  border-radius: 16px;
  border: 2px solid #ccc;
  position: relative;

  /* Label */
  font-family: Lucida Sans, Helvetica, sans-serif;
  font-weight: 800;
  color: #fff;
  text-shadow: rgba(10, 10, 10, 0.5) 1px 2px 2px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.button:hover {
    text-shadow: rgb(255, 255, 255) 0px 0px 5px;
}
.aqua{
      background-color: rgba(60, 132, 198, 0.8);
      background-image: gradient(linear, 0% 0%, 0% 90%, from(rgba(28, 91, 155, 0.8)), to(rgba(108, 191, 255, .9)));
      border-top-color: #8ba2c1;
      border-right-color: #5890bf;
      border-bottom-color: #4f93ca;
      border-left-color: #768fa5;
      box-shadow: rgba(66, 140, 240, 0.5) 0px 10px 16px;
}
.orange{
    background-color: #ee5526;
    background-image: gradient(rgba(246, 132, 36, 0.8) 0%, rgba(239, 97, 49, 0.9) 85%);	
    border-top-color: #f7a250;
    border-right-color: #f7a050;
    border-bottom-color: #ef925e;
    border-left-color: #f6a460;	
    box-shadow: rgba(237, 96, 46, 0.5) 0px 10px 16px;
}

.button .glare {
  position: absolute;
  top: 0;
  left: 5px;
  border-radius: 8px;
  height: 1px;
  width: 75px;
  padding: 8px 0;
  background-color: rgba(255, 255, 255, 0.25);
  background-image: gradient(linear, 0% 0%, 0% 95%, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0)));
}
