.aside {
    float: left;
    text-align: center;
}
/*-----------html5 player--------*/
.music {
}
/*-----------me----------------*/
.me {
    width: 300px;
}
/*-----------content-----------*/
.content {
    float: left;
    background: rgba(255,255,255,0.6);
    margin: 20px 100px;
    width: 450px;
    padding: 20px;
}
.page {
    margin: 0 auto;
    text-align: center;
}
.posts h2 {
    font-size: 120%;
}
