.aside {
    float: left;
    text-align: center;
}
/*-----------content-----------*/
.content {
    float: left;
    width: 600px;
    padding: 20px;
}
.page {
    margin: 0 auto;
    text-align: center;
}
.posts {
    background: rgba(255,255,255,0.5);
    border:5px solid white;
    float: left;
    width: 500px;
    margin: 0 auto;
    padding: 10px;
    min-height: 500px;
}
#prev {
    background: rgba(0,0,0,0);
}
#next {
    margin: 40px 0;
    background: rgba(0,0,0,0);
}
.updown {
    margin-top: 200px;
    float: left;
    width: 70px;
}
.updown img{
    width: 60px;
}
