<!DOCTYPE html>

<html>
  <head>
     <meta http-equiv="content-type" content="text/html; charset=utf-8" />
     <title>
       {% if page.title %}
         {{ page.title }} //
       {% endif %}
       Maplebeats
     </title>
     <meta name="author" content="Maplebeats" />
     {% if page.summary %}
       <meta namne="description" content="{{ page.summary }}" />
     {% endif %}
     <link href="/feed" rel="alternate" title="Maplebeats" type="application/atom+xml" />

     <link rel="stylesheet" href="/stylesheets/syntax.css" type="text/css" />
     <link rel="stylesheet" href="/stylesheets/default.css" type="text/css" />

     {% for css in page.css %}
       <link rel="stylesheet" href="{{ css }}" type="text/css" />
     {% endfor %}
     <script type="text/javascript" src="javascripts/home.js"></script>
  </head>
  <body onload="new Accordian('basic-accordian',5,'header_highlight');">
    <a href="http://github.com/maplebeats"><img style="position: absolute; top: 0; left: 0; border: 0;" src="/images/xxxholic.png" alt="跟我走吧" id="MM"/></a>

    <div id="site">
      <a id="subscribe" href="/atom.xml"><img src="/images/rss.png" alt="Subscribe to RSS Feed" /></a>
    
     <h1><a href="/">Maplebeats</a></h1>
      
      <div class="clear"></div>
      
      <div id="sidebar" class="vcard">
        <h3>about me</h3>
        <dl id="contact">
        
          <dt>Name</dt>
 <iframe src="http://www.google.com/talk/service/badge/Show?tk=z01q6amlqeqhpdhnuns6k3v2m3eg27s0vlf22dl4l9b6lab3e9ec34sj387rh29rmo51bng1r21b7rcken8bi0jhigcpt6en0svok3v4dgdsh4naeto3f4n6fjf8vi4a9pc8rlsabou59p62s337ob88a3qdht9scbs1iqi82&amp;w=200&amp;h=60" frameborder="0" allowtransparency="true" width="200" height="60"></iframe>
          <dd><a class="fn url" href="http://forum.ubuntu.org.cn/memberlist.php?mode=viewprofile&u=245078">maplebeats</a>/<span class="nickname">枫叶饭团</span></dd>

          <dt>Email</dt>
          <dd class="email"><a href="mailto:maplebeats@gmail.com">maplebeats@gmail.com</a></dd>
        <div id="basic-accordian" ><!--begin--> 
       	<div id="test-header" class="accordion_headings" >weibo</div><!--test--> 
	<div id="test-content"> 
	<div class="accordion_child"> 
	<ul>
  	<a href="http://weibo.com/2128282282?s=6uyXnP" target="_blank"><img border="0" src="http://service.t.sina.com.cn/widget/qmd/2128282282/7b807bb3/1.png"/></a> 
	</ul> 
	</div> 
	</div> 
	<div id="test1-header" class="accordion_headings" >我喜欢去的地方</div><!--2test--> 
	<div id="test1-content"> 
	<div class="accordion_child"> 
	<ul>
	<li><a href="http://forum.ubuntu.org.cn">ubuntu中文</a></li>        	
	<li><a href="http://qzworld.net/">Don</a></li>
        <li><a href="http://www.5dimn.com/">Q.D.</a></li>
	<li><a href="http://www.cherrot.com/">切萝卜</a></li>
	<li><a href="http://www.buroniworks.com/">某工房</a></li>
	<li><a href="http://liaochenyuan.sourceforge.net">了尘缘</a></li>
	<li><a href="http://http://www.lainme.com">laime</a></li>
	</ul>
	</div> 
	</div><!--end1--> 
	</div><!--mainend -->
      </div>
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/prototype/1.6/prototype.js"></script>
        <script type="text/javascript" src="javascripts/home.js"></script>
      <div id="content">
        {{ content }}
      </div>
      
      <div class="clear"></div>
      
    </div>

    {% for js in page.javascript %}
      <script type="text/javascript" src="{{ js }}"></script>
    {% endfor %}



    </script>
  </body>
</html>