<!DOCTYPE html>

<html>
  <head>
     <meta http-equiv="content-type" content="text/html; charset=utf-8" />
     <title>
       {% if page.title %}
         {{ page.title }}
       {% endif %}
     </title>
     <meta name="author" content="Maplebeats" />
     {% if page.summary %}
       <meta namne="description" content="{{ page.summary }}" />
     {% endif %}
     <link href="/atom.xml" rel="alternate" title="Maplebeats" type="application/atom+xml" />

     <link rel="stylesheet" href="/stylesheets/syntax.css" type="text/css" />
     <link rel="stylesheet" href="/stylesheets/default.css" type="text/css" />
     <link rel="stylesheet" href="/stylesheets/baobao.css" type="text/css" />

  </head>
  <body>

	<div id="site">

      <a id="subscribe" href="http://feed.feedsky.com/maplebeats"><img src="/images/rss.png" alt="Subscribe to RSS Feed" /></a>

	  <h1>
		<a href="/" class="title">Maplebeats</a>
	  </h1>	

      <div class="clear"></div>  
      <div id="sidebar" class="vcard">
		  <div id="wrapper">
			  <div id="product-header"></div>
			  <ul id="product">
				  <li class="trigger">
				  <ul class="menu">
					  <li><a href="/me">me</a></li>
					  <li><a href="/anime">anime</a></li>
					  <li><a href="/search">search</a></li> 
				  </ul>
				  <span>About</span> </li>
				  <li class="trigger">
				  <ul class="menu">
					  <li><a href="http://feed.feedsky.com/maplebeats">feedsky</a></li>
					  <li><a href="http://feeds.feedburner.com/maplebeats">feedburner</a></li>
					  <li><a href="/atom.xml">xml</a></li>
				  </ul>
				  <span>RSS</span> </li>
				  <li class="trigger">
				  <ul class="menu">
					  <li><a href="https://github.com/maplebeats/configuration">Configurations</a></li>
					  <li><a href="https://github.com/maplebeats/Scripts">My Scripts</a></li>
					  <li><a href="https://github.com/kernelhcy/gtkqq">Gtkqq</a></li>
				  </ul>
				  <span>Repositories</span> </li>
				  <li class="trigger">
				  <ul class="menu">
					  <li><a href="http://forum.ubuntu.org.cn">ubuntu</a></li>
					  <li><a href="http://www.flickr.com/photos/maplebeats/">Flickr</a></li>
					  <li><a href="http://qzworld.net/">Don</a></li>
					  <li><a href="http://www.5dimn.com/">Q.D.</a></li>
					  <li><a href="http://www.cherrot.com/">切萝卜</a></li>
					  <li><a href="http://www.buroniworks.com/">某工房</a></li>
					  <li><a href="http://liaochenyuan.sourceforge.net">了尘缘</a></li>
					  <li><a href="http://www.lainme.com">laime</a></li>
					  <li><a href="http://http://bancage.qzworld.net/">banban姐</a></li>
				  </ul>
				  <span>Links</span> </li>
						{% if paginator.total_pages > 1 %}
				  <li class="trigger">
				  <ul class="menu">
							{% for page in (1..paginator.total_pages) %}
								{% if page == paginator.page %}
								<span>{{ page }}</span>
									{% else %}
									<a class="num" href="/{%if page > 1 %}page{{ page }}/{% endif %}">{{ page }}</a>
								{% endif %}
							{% endfor %}
				  </ul>
				  <span>Pages</span> </li>
						{% endif %}
			  </ul>
			  <div id="product-footer"></div>
		  </div>
	  </div>

      <div id="content">
        {{ content }}
      </div>

    </div>

	<a href="#" class="to_top" title="返回顶部"><img src="/images/gotop.gif" width="20" height="59" /></a>

  <div class="clear"></div>

     <footer>
	Copyright© 2012，Powered by <a href="https://github.com/mojombo/jekyll">jekyll</a>，Theme by <a href="/me">Maplebeats</a>
 	</footer>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" type="text/javascript"></script> 	
    {% for js in page.javascript %}
	<script type="text/javascript" src="{{ js }}"></script>
    {% endfor %}

  </body>
</html>
