<!DOCTYPE html>

<html>
  <head>
     <meta http-equiv="content-type" content="text/html; charset=utf-8" />
     <title>
       {% if page.title %}
         {{ page.title }} //
       {% endif %}
       Maplebeats
     </title>
     <meta name="author" content="Maplebeats" />
     {% if page.summary %}
       <meta namne="description" content="{{ page.summary }}" />
     {% endif %}
     <link href="/feed" rel="alternate" title="Maplebeats" type="application/atom+xml" />

     <link rel="stylesheet" href="/stylesheets/syntax.css" type="text/css" />
     <link rel="stylesheet" href="/stylesheets/default.css" type="text/css" />

     {% for css in page.css %}
       <link rel="stylesheet" href="{{ css }}" type="text/css" />
     {% endfor %}
  </head>
  <body>
    <a href="http://github.com/maplebeats"><img style="position: absolute; top: 0; left: 0; border: 0;" src="/images/xxxholic.png" alt="跟我走吧" id="MM"/></a>

    <div id="site">
      <a id="subscribe" href="/feed"><img src="/images/rss.png" alt="Subscribe to RSS Feed" /></a>
    
     <h1><a href="/">Maplebeats</a></h1>
      
      <div class="clear"></div>
      
      <div id="sidebar" class="vcard">
        <h3>关于我</h3>
        <dl id="contact">
          <dt>Name</dt>
          <dd><a class="fn url" href="http://forum.ubuntu.org.cn/memberlist.php?mode=viewprofile&u=245078">maplebeats</a>/<span class="nickname">枫叶饭团</span></dd>

          <dt>Email</dt>
          <dd class="email"><a href="mailto:maplebeats@gmail.com">maplebeats@gmail.com</a></dd>

          <dt>Telephone</dt>
          <dd class="tel">15025369774</a></dd>
          
          <dt>Company</dt>
          <dd class="org"><a href="http://www.cqupt.edu.cn">CQUPT</a></dd>
        </dl>
        <h3>推不动</h3>
        <ul id="profiles">
          <li><a href="http://twitter.com/maplebeats">Twitter</a></li>
          <li><a href="http://weibo.com/maplebeats">Weibo</a></li>
        </ul>
        <h3>链接</h3>
        <ul id="Links">
          <li><a href="http://qzworld.net/">Don</a></li>
	  <li><a href="http://www.cherrot.com/">切萝卜</a></li>
        </ul>

<div id="player" style="background-image: url(/images/music.png);background-repeat: repeat;height:320px;width:235px;border:1px dashed #888;padding:15px 15px;"><embed src="http://www.xiami.com/widget/6865986_1769036596,2312696,1770201852,3341658,2149137,_235_346_ff6600_ffffff/multiPlayer.swf" type="application/x-shockwave-flash" width="235" height="316" wmode="opaque"></embed></div>
      </div>
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/prototype/1.6/prototype.js"></script>
      
      <div id="content">
        {{ content }}
      </div>
      
      <div class="clear"></div>
      
    </div>

    {% for js in page.javascript %}
      <script type="text/javascript" src="{{ js }}"></script>
    {% endfor %}



    </script>
  </body>
</html>
