---
layout: default
javascript:
  - /javascripts/home.js
---

<div id="post">
  <h2>{{ page.title }}</h2>
  {{ content }}
</div>

<div id="related">
  <h3>Related Posts</h3>
  <ul class="posts">
    {% for post in site.related_posts limit:3 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
    <script type="text/javascript" src="http://maplebeats.disqus.com/combination_widget.js?num_items=5&hide_mods=0&color=orange&default_tab=people&excerpt_length=200"></script>
  </ul>
</div>


